<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2 class="capital">
    <i class="fa-solid fa-circle-plus"></i> add new post
  </h2>

  <form action="/addPost" method="POST">
    <label for="title-input">
      <input 
        type="text" 
        id="title-input" 
        placeholder="Post title here" 
        name="title"
      >
    </label>
    <label for="body-input">
      <textarea 
        type="text" 
        id="body-input" 
        placeholder="Post content here" 
        name="body"
        cols="50"
        rows="10"
      >
      </textarea>
    </label>
    <button
      type="submit"
      class="button capital"
    >
      <i class="fa-solid fa-file-import"></i> add
    </button>
  </form>
</div>