<h3 class="capital">sign in</h3>
<form action="/admin" method="POST">
  <label for="username-input" class="capital">username</label>
  <input type="text" id="username-input" name="username" placeholder="Enter username">
  <label for="password-input" class="capital">password</label>
  <input type="password" id="password-input" name="password" placeholder="Enter password">
  <input type="submit" value="login" class="button capital">
</form>

<!-- <h3 class="capital">register</h3>
<form action="/register" method="POST">
  <label for="username-input" class="capital">username</label>
  <input type="text" id="username-input" name="username" placeholder="Enter username">
  <label for="password-input" class="capital">password</label>
  <input type="password" id="password-input" name="password" placeholder="Enter password">
  <input type="submit" value="register" class="button capital">
</form> -->