<div class="search-bar">
  <div class="form-wrapper">
    <form action="/search" class="search-form" role="search" method="POST">
      <input 
        type="search" 
        aria-label="Search"
        name="searchTerm" 
        id="search-input"
        placeholder="Search the site..."
      >
    </form>
    <div id="search-close">Close</div>
  </div>
</div>