<div class="author">
  <h1 class="author-heading">Hi, I'm Martin</h1>
  <p class="author-body">Web Developer & Freelancer</p>
</div>
<img src="/images/hero-img.jpg" class="hero-image" alt="Person" width="600" height="400">
<section class="articles">
  <h2 class="articles-heading">Latest posts</h2>
  <ul class="article-ul">
    <% data.forEach(post => { %>
     
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list-date"><%= post.createdAt.toDateString() %></span>
      </a>
    </li>

    <% }) %>

  </ul>
  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination capital">&lt; view older posts</a>
  <% } %>
  
</section>